SCADA/data/
PLC/archive/
PLC/MINING_ORE_SORTING_PLANT_TM221CE24R_OPENABLE.smbp
PLC/MINING_ORE_SORTING_TM221CE24R_COMPILE_SAFE.smbp
PLC/MINING_ORE_SORTING_TM221CE24R_COUNTERS_FIXED.smbp
PLC/MINING_ORE_SORTING_TM221CE24R_RUNG47_48_FIXED.smbp
build_project.ps1
